<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Insert Page</title>
</head>
<body style ="background-color:#F7DC6F;">
        <h1 style="color:dodgerblue;" align="center"> 
		Welcome kani</h1>

  <h2 align="center">Delete Function</h2>

<form action="deleting" method="post">

<pre align="center">

Enter Key to Delete	: <input type="text" id="deletekey" name="deletekey"><br>
Enter Value to Delete	: <input type="text" id="deletevalue" name="deletevalue"><br>


  <input type="submit" value="SUBMIT">
</body>
</html>
