<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Insert Page</title>
</head>
<body style ="background-color:#F7DC6F;">
        <h1 style="color:dodgerblue;" align="center">
		Welcome kani</h1>

  <h2 align="center">Insert Function</h2>

<form action="inserting" method="post">

<pre align="center">

Enter Building to Insert	: <input type="text" id="building" name="building"><br>
Enter Coord0 to Insert	        : <input type="text" id="coord0" name="coord0"><br>
Enter Coord1 to Insert	        : <input type="text" id="coord1" name="coord1"><br>
Enter Street to Insert	        : <input type="text" id="street" name="street"><br>
Enter Zipcode to Insert	        : <input type="text" id="zipcode" name="zipcode"><br>
Enter Borough to Insert	        : <input type="text" id="borough" name="borough"><br>
Enter Cuisine to Insert 	: <input type="text" id="cuisine" name="cuisine"><br>
Enter Name to Insert	        : <input type="text" id="borough" name="resname"><br>
Enter Restaurantid to Insert 	: <input type="text" id="cuisine" name="resid"><br><br>

Enter Grade0 to Insert	        : <input type="text" id="grade0" name="grade0"><br>
Enter Score0 to Insert 	        : <input type="text" id="score0" name="score0"><br>
Enter Grade1 to Insert	        : <input type="text" id="grade1" name="grade1"><br>
Enter Score1 to Insert 	        : <input type="text" id="score1" name="score1"><br>
Enter Grade2 to Insert	        : <input type="text" id="grade2" name="grade2"><br>
Enter Score2 to Insert 	        : <input type="text" id="score2" name="score2"><br>
Enter Grade3 to Insert	        : <input type="text" id="grade3" name="grade3"><br>
Enter Score3 to Insert 	        : <input type="text" id="score3" name="score3"><br>
Enter Grade4 to Insert	        : <input type="text" id="grade4" name="grade4"><br>
Enter Score4 to Insert 	        : <input type="text" id="score4" name="score4"><br>

    <input type="submit" value="SUBMIT">

</pre>
</form>

</body>
</html>
