<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Welcome Page</title>
</head>
<body style ="background-color:#F7DC6F;">
        <h1 style="color:dodgerblue;" align="center"> 
		Welcome kani</h1>

  <h2 align="center">Search Function</h2>

<form action="searching" method="post">

<pre align="center">

Enter Key to Search	: <input type="text" id="searchkey" name="searchkey"><br>
Enter Value to Search	: <input type="text" id="searchvalue" name="searchvalue"><br>

  <input type="submit" value="SUBMIT">
</pre>
</form>
</body>
</html>