<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Welcome Page</title>
</head>
<body style ="background-color:#F7DC6F;">
        <h1 style="color:dodgerblue;" align="center"> 
		Welcome kani</h1>

  <h2 align="center">Hello, {{ username }}</h2>

<pre align="center">
<form action="search" method="post"> 
<h4>Click Search button to Search for Data in MongoDB</h4>
<input type="submit" name="search_button" value="Search">
</form>

<form action="insert" method="post"> 
<h4>Click Insert button to Insert Data into MongoDB</h4>
<input type="submit" name="insert_button" value="Insert">
</form>

<form action="update" method="post"> 
<h4>Click Update button to Update the Data in MongoDB</h4>
<input type="submit" name="update_button" value="Update">
</form>

<form action="delete" method="post"> 
<h4>Click Delete button to Delete Data from MongoDB</h4>
<input type="submit" name="delete_button" value="Delete">
</form>

</pre>

<script>

</script>
   
</body>
</html>