<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Update Page</title>
</head>
<body style ="background-color:#F7DC6F;">
        <h1 style="color:dodgerblue;" align="center"> 
		Welcome kani</h1>

  <h2 align="center">Update Function</h2>

<form action="updating" method="post">

<pre align="center">

Enter Key to Update	: <input type="text" id="updatekey" name="updatekey"><br>
Enter Value to Update	: <input type="text" id="updatevalue" name="updatevalue"><br>
Enter New Key		: <input type="text" id="newkey" name="newkey"> <br>
Enter New Value		: <input type="text" id="newvalue" name="newvalue"><br>

  <input type="submit" value="SUBMIT">
</body>
</html>
